# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
.vs/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# dotnet publish
publish/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
